body {
    padding: 0;
    margin: 0;
    height: 768px;
    width: 12288px;
    font-family: sans-serif;
}
#content1 {
    width: 3072px;
    height: 100%;
    background-color: #cc0000;
    position: absolute;
}
#content2 {
    width: 3072px;
    height: 100%;
    background-color: #00cc00;
    margin-left: 3072px;
    position: absolute;
    margin-top: 0;
}
#content3 {
    width: 3072px;
    height: 100%;
    background-color: #0000cc;
    margin-left: 6144px;
    position: absolute;
    margin-top: 0;
}
#content4 {
    width: 3072px;
    height: 100%;
    background-color: #cccccc;
    margin-left: 9216px;
    position: absolute;
    margin-top: 0;
}
