body {
  width: 6816px;
  height: 2240px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: yellow;
}

.column {
  float:left;
}

.tile {
  border: 2px solid red;
  background-color: blue;
  width: 421px;
  height: 315px;
  margin-left: 1px;
  margin-bottom: 1px;
}

#column-1 .tile {
  width: 420px;
}

#column-2 .tile {
  border-color: green;
  background-color: purple;
}

#column-8 .tile {
  border-color: green;
  background-color: orange;
}
