body {
  padding: 0;
  margin: 0;
  height: 2304px;
  width: 5760px;
  font-family: sans-serif;
}

#content {
  width: 100%;
  height: 100%;
  background-color: #cc0000;
}

#metadata {
  width: auto;
  position: absolute;
  bottom: 75px;
  right: 75px;
  text-align: right;
  background-color: black;
  color: white;
  padding: 60px;
}

#title {
  font-size: 160px;
}

#attribution {
  font-size: 100px;
}