body {
  width: 2880px;
  height: 2400px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  background-image: url(http://placehold.it/2880x2400);
}

#content {
  /* Alternatively, put your image here and size it 1680x2400 */
  width: 100%;
  height: 1680px;
}

#metadata {
  background-color: #4A4A4A;
  width: 2784;
  height: 720px;
  text-align: left;
  color: white;
  font-size: 100px;
  padding: 50px;
  opacity: .9;
}

#title {
  font-size: 160px;
}

#attribution {

}

#description {
  text-align: left;
}