// TV wall is 3840x1518
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 3840px;
  height: 1518px;
  background-color: #ddd;
  overflow: hidden;
}

/* All columns get these styles*/
.col {
  height: 1518px;
  overflow: hidden;
  width: 204px;
}

/* These are double-wide columns. */
#content2, #content4 {
  width: 408px;
}

.content {
  background-color: #cc0000; /*FIXME: change this color*/
  position: absolute;
  top: 0;
}

#content1 {
  left: 0px;
}

#content2 {
  left:609px;
  background-color: blue;
}
#content3 {
  left: 1207px;
  background-color: orange;
}
#content4 {
  left: 1817px;
  background-color: purple;
}
#content5 {
  left: 2415px;
  background-color: green;
}
#content6 {
  left: 3025px;
  background-color: yellow;
}
#content7 {
  left: 3635px;
}

.info {
  position: absolute;
  top: 760px;
  background-color: #E5AD01;  /*Hunt Yellow*/
  color: black;
  padding: 30px;
  width: 348px;
  font-size: 3em;
  font-family: Arial;
  font-weight: bold;
}

